<form method="POST" align="center">
    <br/>
    <div>
        <label>Age:</label>
        <input name="age"><br/><br/>
    </div>
    <div>
        <label>Gender:</label>
        <input type="radio" id="male"
         name="gender" value="1">
        <label for="male">Male</label>
        <input type="radio" id="female"
         name="gender" value="0">
        <label for="female">Female</label>
        <br/><br/>
  </div>
    <div>
        <label>Height (cm):</label>
    <input name="height_cm"><br/><br/>
    </div>
    <div>
        <label>Weight (kg):</label>
    <input name="weight_kg"><br/><br/>
    </div>
    <div>
        <label>Body fat percentage:</label>
        <input name="body_fat_percentage"><br/><br/>
    </div>
    <div>
        <label>Diastolic:</label>
        <input name="diastolic"><br/><br/>
    </div>
    <div>
        <label>Systolic:</label>
        <input name="systolic"><br/><br/>
    </div>
    <div>
        <label>Grip force:</label>
        <input name="gripForce"><br/><br/>
    </div>
    <div>
        <label>Sit and bend forward (cm):</label>
        <input name="sit_and_bend_forward_cm"><br/><br/>
    </div>
    <div>
        <label>Sit-ups count:</label>
        <input name="sit_ups_count"><br/><br/>
    </div>
    <div>
        <label>Broad jump length (cm):</label>
        <input name="broad_jump_cm"><br/><br/>
    </div>
    <label>Hit <b>submit</b> to predict the class of the person:</label><br/><br/>
    <input type="submit">
</form>